@import "~style/global";

.button {
  cursor: pointer;
  padding: 8px;
  border: 1px solid $colorLink;
  color: $colorLink;

  &:hover {
    color: $white;
    background-color: $colorLinkHover;
    border-color: $colorLinkHover;
  }
}
