@import ~style/global

.task
  display: inline-block
  padding: 0.5em

.task_cell
  display: block

  &.__complete, &.__remove
    padding-left: 0.3em
    padding-right: 0.3em

  &.__title
    font-weight: bold
