$white:                     #ffffff;
$black:                     #000000;
$gray:                      #eaeaea;

$colorText:                 #4c4e4f;
$colorTextMedium:           #afafaf;
$colorTextBright:           #f0f0f0;
$colorDisabled:             #ebebeb;
$colorBorder:               #cecece;

$colorLink:                 #5d95ac;
$colorLinkHover:            #1492cc;

$colorDanger:               #cc142c;
$colorDangerHover:          #ff5440;

$colorSuccess:              #9ab882;
$colorSuccessHover:         #6eac3c;
