$fontSizeXXS:         8pt;
$fontSizeXS:          10pt;
$fontSizeS:           12pt;
$fontSizeM:           14pt;
$fontSizeL:           18pt;
$fontSizeXL:          22pt;
$fontSizeXXL:         26pt;

$fontMain:            "Helvetica Neue", Verdana, Arial, sans-serif;
